---
import Header from "@/components/Header/index.astro";
import Analytics from "@vercel/analytics/astro";
import ogMain from "@/assets/main/opengraph.jpg";

import "@/styles/global.css";

interface Props {
  lang: string;
  title?: string;
  description?: string;
  opengraph?: {
    image: string;
  };
}

const {
  lang,
  title: _title,
  description: _description,
  opengraph: _opengraph,
} = Astro.props;

const title = _title ?? (lang === "ko" ? "이성열" : "Seongyeol Yi");

const description =
  _description ??
  (lang === "ko"
    ? "프론트엔드 개발자이자 컨텐츠 크리에이터인 이성열의 블로그입니다."
    : "This is the blog of Seongyeol Yi, a frontend developer and content creator");

const opengraphImage = _opengraph?.image ?? ogMain.src;
---

<script>
  import { spring, animate } from "motion";

  animate(
    document.getElementById("container")!,
    {
      opacity: 1,
      transform: "translateY(0px)",
    },
    { duration: 1.25, type: spring },
  );
</script>

<html lang={lang}>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />

    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />

    <meta property="og:title" content={title} />
    <meta property="og:image" content={opengraphImage} />
    <meta property="og:description" content={description} />
    <meta property="og:type" content="website" />

    <title>{title}</title>
  </head>
  <body class="min-h-dvh pb-24">
    <Header />
    <div
      id="container"
      style="opacity: 0.01; transform: translateY(5px); will-change: opacity, transform"
    >
      <slot />
    </div>
    <Analytics />
  </body>
</html>
